.main-div {
    width: 60%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 18px;
    overflow: hidden;
}

.main-div > div {
    flex-grow: 1;
    flex-shrink: 1;
}

.style-div {
   background-color: #e0f7fa;
    flex-basis: 80%;
    display: flex;
}

.style-div > div {
    flex-grow: 1;
    flex-shrink: 1;
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
}

/*menu-section inner divs
-----------------------------------------------------------*/
.buttons-style-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buttons-style-type > button {
    background-color: #00796b;
    flex-basis: 40%;
    flex-shrink: 1;
    margin: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.input-range-div {
    display: flex;
    flex-direction: column;
}

.input-range-div > div {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
}

.input-range-div > input {
    margin-left: 5%;
    margin-right: 5%;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
}

.rotation-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.rotation-buttons > button {
    font-size: 1.75em;
}

/*-------------------------------------------------------*/

.image-visual {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.image-visual > img {
    filter: contrast(80%);
}

.image-visual > p {
    font-size: 2em;
}


/* Down side div
-------------------------------------------------------*/

.function-div {
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
    background-color: #e0f7fa;
}

.function-div > div {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}

.function-div button, .function-div input {
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.20em;
    padding: 10px;

    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}